/*body{
font-family: Ubuntu, Helvectica, serif;
}*/

img {

    width: 250px;
    height: 250px;
}

#displayArea{

    font-size: 18px;
    width: 100%;

}
#inputForm{

}

.filtering{
background-color: brown;
align-items: center;
}

.myheading{
  text-align: center;
}

.style{
  align-items: center;
}
#allShoes{
  width: 100%;
}

.shoe {
  float: left;
  padding: 10px;
  fl
}

#inputForm{
  display: inline-block;
}
